@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.headerFull {
  background-color: #005aa1;
  border-bottom: 4px solid #ffef00;
}
.headerIn {
  color: white;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  display: flex;
justify-content: space-between;
}
.LogoNome {
  color: white;
      display: inline-block;
      padding-top: 5px;
}
.NomeBlog {
  color: #fff;
    text-decoration: none;
  display: inline-block;
  margin-left: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
  vertical-align: middle;
}
.IconesHeader {
  margin-left: auto;
      display: flex;
      align-items: center;
}
.iconeIndividual {
  margin-left: 1em;
  cursor: pointer;
}
