.headerFull {
  background-color: #005aa1;
  border-bottom: 4px solid #ffef00;
}
.headerIn {
  color: white;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  display: flex;
justify-content: space-between;
}
.LogoNome {
  color: white;
      display: inline-block;
}
.NomeBlog {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
  vertical-align: middle;
}
.IconesHeader {
  margin-left: auto;
      display: inline-block;
}
.iconeIndividual {
  margin-left: 1em;
}
