@mixin aspect-ratio($width, $height) {
  & {
    // position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.imagemBlog {
  @include aspect-ratio(350,200);

    width: 100%;
    margin-bottom:0.5em;
    background-position: center;
    background-size: cover;

    display: block;
    margin: auto;
    width: auto;


}

// destaque
.sliderWrapper {
  height: 450px;
  max-height: 450px;
  position: relative;
  -webkit-transform: translateZ(0);
  // cursor:ew-resize;

}

.controleSlider {

/*  justify-content: space-between;*/
  //margin-bottom: 2em;
  //margin-top: -50px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  .paginacaoDestaque {
    position: absolute;
    bottom: 0;
  }


}

.Slider {
  transition: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  overflow-x: hidden;
  height: 450px;
  max-height: 450px;
  -webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none;   /* Chrome/Safari/Opera */
-khtml-user-select: none;    /* Konqueror */
-moz-user-select: none;      /* Firefox */
-ms-user-select: none;       /* Internet Explorer/Edge */
user-select: none;

}

.Slider::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

.backgroundOpaco {
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
align-items: flex-start;
}
.caixaImagem {
  text-align: center;
  position: relative;
//  margin-bottom: 40px;
      width: 350px;
      margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 200px;
    cursor: move;
}
.opacidadeAqui {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8));
//  padding-top: 3em;
width: 100%;
height: 100%;
display: flex;
flex-flow: column;
justify-content: center;

//  padding-bottom: 3em;
}
.materiasEmDestaque {
  color: white;
  text-align:center;
  margin-bottom: 1.5em;
  margin-top: 1em;
  font-size:0.9em;
  font-weight: bold;
}
.imagemDestaque {
  display: block;
  margin: auto;
  width: auto;
  max-width: 50%;
  height: auto;
  max-height: 200px;
}
.descricaoBanner {
  margin-top: 0.4em;
  color:white;
  text-align:center;

}
.nomeAutorBanner {

  font-weight: bold;
display: inline-block;
margin-right: 1em;
}
.preNomeAutorBanner {
  display: inline-block;
  margin-right: 0.3em;
  font-size:0.9em;

}
.dataBanner {
    display: inline-block;

    margin-right: 1em;
}
.iconeDescricaoBanner {
  margin-right: 0.3em;
}
.tituloDestaque {
  text-align:center;
  color:white;
  font-weight: bold;
  margin-top:0.5em;
  font-size:1.4em;
}
.descricaoDestaque {
  z-index: 999;
  margin-top: 15px;
  width: 40%;
  margin-right:auto;
  margin-left:auto;
}
.tagFlutuante {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  text-align: center;
}
.imagemFlutuante {
  display: block;
  margin-left: auto;
  margin-right: auto;
      transform: scale(0.8);
}
.paginacaoDestaque {
  display: flex;
justify-content: space-around;
  width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 2em;
margin-bottom: 2em;
.pagWrapper {
  width: 50%;
  img:first-child {
    float: left;
  }
  img:last-child {
    float:right;
  }
}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min--moz-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (max-width: 767px),
only screen and ( min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min-resolution: 192dpi) and (max-width: 767px),
only screen and ( min-resolution: 2dppx) and (max-width: 767px),
only screen and (max-width: 767px) {

  .descricaoDestaque {
    width: 60%;
  }
  .tituloDestaque {
    font-size:1.2em;
  }
  .imagemDestaque {
    width: 50%;
  }

  .caixaImagem {
    width: 80%;
    max-width: 350px;
  }
}

// aaaaaaa
