body {
      margin-bottom: -1em;
}
.corpo {
  margin-bottom:5em;
}
.imagemBanner {
  height:330px;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
align-items: flex-end;
}
.corCategoria {
  color: black;
  background-color: #ffef00;
  padding:0.4em 0.7em;
  display: inline-block;
}
.tituloBanner {
  font-size: 2em;
  font-weight:bold;
  color:white;
  line-height: normal;
  margin-top: 0.4em;
}
.subTituloBanner {
  color: white;
  font-size:0.9em;
  font-weight: lighter;
      margin-top: 0.4em;
}
.descricaoBanner {
  margin-top: 0.4em;
}
.nomeAutorBanner {
  color: #ffcc00;
  font-weight: bold;
display: inline-block;
margin-right: 1em;
}
.preNomeAutorBanner {
  display: inline-block;
  margin-right: 0.3em;
  color: white;
}
.dataBanner {
    display: inline-block;
    color:white;
    margin-right: 1em;
}
.iconeDescricaoBanner {
  margin-right: 0.3em;
}
.leituraBanner {
    display: inline-block;
    color:white;
}
.mobileBlock {
  display: inline-block;
}
.informacoesBanner {
  width: 60%;
  margin-bottom: 1em;
}
.backgroundBanner {
      background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
      width: 100%;
}
.controleSlider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
.bolinhasSlider > img {
  margin-right: 0.5em;
}
.setinhasSlider > img {
  margin-right: 0.5em;
}


.vejamais {

margin-left: auto;
margin-right: auto;
display: block;
margin-top:2em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min--moz-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (max-width: 767px),
only screen and ( min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min-resolution: 192dpi) and (max-width: 767px),
only screen and ( min-resolution: 2dppx) and (max-width: 767px),
only screen and (max-width: 767px) {

.vejamais {
  width: 90%;
      height: 100%;
}
  .imagemBanner {
  height: 500px;
    }
  .informacoesBanner {
    width: 90%;
  }
}
