@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*.eachBox {
  height: 280px !important;
display: flex;
}*/

.resultadosEncontrados {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #333;

}

.qntResultadosEncontrados {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #333;
}

.boxResults {
  margin-top:2.5em;
  padding-bottom:1.5em;
  border-bottom: 1px solid #333 !important;
}

.paginacao {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #333;
  display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}
