
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900);

.headerFull {
  background-color: #005aa1;
  border-bottom: 4px solid #ffef00;
}

.sliderWrapper {
  height: 330px;
  max-height: 330px;
  position: relative;
  -webkit-transform: translateZ(0);
  cursor:move;
}

.Slider {
  transition: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  overflow-x: hidden;
  height: 330px;
  max-height: 330px;
  -webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none;   /* Chrome/Safari/Opera */
-khtml-user-select: none;    /* Konqueror */
-moz-user-select: none;      /* Firefox */
-ms-user-select: none;       /* Internet Explorer/Edge */
user-select: none;

}
.Slider::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

.headerIn {
  color: white;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  display: flex;
justify-content: space-between;
}
.LogoNome {
  color: white;
      display: inline-block;
}
.NomeBlog {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
  vertical-align: middle;
}
.IconesHeader {
  margin-left: auto;
      display: inline-block;
}
.iconeIndividual {
  margin-left: 1em;
}
.imagemBanner {
  height:330px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
align-items: flex-end;
}
.corCategoria {
  color: black;
  background-color: #ffef00;
  padding:0.4em 0.7em;
  display: inline-block;
}
.tituloBanner {

  font-size:40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  line-height: normal;
  margin-top: 0.4em;
  max-height: 94px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}
.subTituloBanner {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:16px;
  margin-top: 0.4em;
  max-height: 66px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.descricaoBanner {
  margin-top: 0.4em;
}
.nomeAutorBanner {
  color: #ffcc00;
  font-weight: bold;
display: inline-block;
margin-right: 1em;
}
.preNomeAutorBanner {
  display: inline-block;
  margin-right: 0.3em;
  color: white;
}
.dataBanner {
    display: inline-block;
    color:white;
    margin-right: 1em;
}
.iconeDescricaoBanner {
  margin-right: 0.3em;
}
.leituraBanner {
    display: inline-block;
    color:white;
}
.mobileBlock {
  display: inline-block;
}
.informacoesBanner {
  width: 600px;
  margin-bottom: 64px;
}
.backgroundBanner {
      background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
      width: 100%;
}
.controleSlider {

/*  justify-content: space-between;*/
  margin-bottom: 2em;
  margin-top: -50px;
  width: 100vw;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;


}

.controleSlider > div {
  height: 30px;
  display: flex;
  align-items: flex-end;
}
.bolinhasSlider {
      flex: 2;
}
.bolinhasSlider > img {
  /*cursor: pointer;*/
  margin-right: 0.5em;
}
.setinhasSlider2 > img {
    /*cursor: pointer;*/
  margin-right: 0.5em;
}
.setinhasSlider > img {
  margin-right: 0.5em;
}

.setinhasSlider {
  align-self: flex-end;
}

.setinhasSlider2 {
  align-self: flex-end;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min--moz-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (max-width: 767px),
only screen and ( min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min-resolution: 192dpi) and (max-width: 767px),
only screen and ( min-resolution: 2dppx) and (max-width: 767px),
only screen and (max-width: 767px) {
  .tituloBanner {

    font-size:24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    line-height: normal;
    margin-top: 0.4em;

  }
  .subTituloBanner {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:14px;
    margin-top: 0.4em;
  }
  .mobileBlock {
    display: block;
  }
  .imagemBanner {
  height: 500px;
    }
  .informacoesBanner {
    width: 100%;
  }

  .bolinhasSlider {
      order:2;
      text-align: center;
  }
  .setinhasSlider {
    order:1
  }

  .setinhasSlider2 {
    order:3
  }
}
