@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


@mixin aspect-ratio($width, $height) {
  & {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.imagemBlog {
  @include aspect-ratio(350,200);

    width: 100%;
    margin-bottom:0.5em;
    background-position: center;
    background-size: cover;

}
.historiasBox {
  background-color: #f5f5f5;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.boxIntro {
  margin-bottom:1em;
  display: inline-flex;
align-items: center;

}
.acaoAnterior {
  display:inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size:15px;
}
.setinhaAcao {
  display:inline-block;
}
.anteriorHisto {
    // max-width: 350px;
display:inline-block;
margin-left: auto;
margin-right: auto;
color:#333333;
font-weight: bold;
font-size:0.8em;
letter-spacing: 1px;
cursor: pointer;
margin-bottom: 1em;
}
.proximaHist {
  margin-left: auto;
  margin-right: auto;
    // max-width: 350px;
display:inline-block;

color:#333333;
font-weight: bold;
font-size:0.8em;
letter-spacing: 1px;
cursor: pointer;
margin-bottom: 1em;
}
.boxProximo {
  text-align: right;
}
.tituloNoticiaAcao {
font-size: 20px;
margin-top: 0.5em;
font-family: 'Roboto', sans-serif;
font-weight: 900;

}
.FotoAcaoNoticias {
  width: 100%;
  display:block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 992px),
only screen and ( min--moz-device-pixel-ratio: 2) and (max-width: 992px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (max-width: 992px),
only screen and ( min-device-pixel-ratio: 2) and (max-width: 992px),
only screen and ( min-resolution: 192dpi) and (max-width: 992px),
only screen and ( min-resolution: 2dppx) and (max-width: 992px),
only screen and (max-width: 992px) {
  .acaoAnterior {
    display:inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:15px;
    letter-spacing: 0;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min--moz-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (max-width: 767px),
only screen and ( min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min-resolution: 192dpi) and (max-width: 767px),
only screen and ( min-resolution: 2dppx) and (max-width: 767px),
only screen and (max-width: 767px) {


    .tituloNoticiaAcao {
      font-size:1.3em;
      text-align: left;
    }
    .boxAnterior {
      border-bottom: 1px solid #000000;
      padding-bottom: 2em;
      margin-bottom: 2em;
    }
    .anteriorHisto {
    font-size:1em;
    }
    .proximaHist {
    font-size:1em;
    }

}
