.corpo {
  margin-bottom:5em;
}
.vejamais {

margin-left: auto;
margin-right: auto;
display: block;
margin-top:2em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min--moz-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (max-width: 767px),
only screen and ( min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min-resolution: 192dpi) and (max-width: 767px),
only screen and ( min-resolution: 2dppx) and (max-width: 767px),
only screen and (max-width: 767px) {

.vejamais {
  width: 90%;
      height: 100%;
}
}
