@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.slug {
  background-color: red;
}

.capitalizacao {
  background-color: #bbbbbb;
  color: #484848;
  font-family: 'Montserrat';
  font-weight: 400;
  display:inline-block;
  padding:0.5em 1em;
  font-size:15px;
}

.financas {
  background-color:#fff001;
  color: #9c911e;
  font-family: 'Montserrat';
  font-weight: 400;
  display:inline-block;
  padding:0.5em 1em;
  font-size:15px;
}

.meio_ambiente {
  background-color: #67b359;
  color: #335228;
  font-family: 'Montserrat';
  font-weight: 400;
  display:inline-block;
  padding:0.5em 1em;
  font-size:15px;
}

.atualidades {
  background-color: #a8daf5;
  color: #39677f;
  font-family: 'Montserrat';
  font-weight: 400;
  display:inline-block;
  padding:0.5em 1em;
  font-size:15px;
}
