@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.linhaFlex {
  display: flex;
  justify-content: center;
}
.boxTags {
  flex:1;
  padding: 1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-bottom: 1.2em;

}
.recente {
  color:#233063;
  background-color: #0d62a5;
  border-top: 0.5em solid #0d62a5;
    transition: 0.5s;
}
.recente:hover {
  color:#005aa1;
  transition: 0.5s;
  background-color: #fff;
  border-top: 0.5em solid #233063;
}
.recenteSelected {
  color:#005aa1;
  background-color: #fff;
      transition: 0.5s;
  border-top: 0.5em solid #233063;
}

.financas {
  color:#9c911e;
  background-color: #fff001;
      transition: 0.5s;
  border-top: 0.5em solid #fff001;
}
.financasSelected {
  color:#fedc18;
      transition: 0.5s;
  background-color: #fff;
  border-top: 0.5em solid #9c911e;
}
.financas:hover {
  color:#fedc18;
      transition: 0.5s;
  background-color: #fff;
  border-top: 0.5em solid #9c911e;
}
.mundo {
  color:#484848;
  background-color: #bbbbbb;
      transition: 0.5s;
  border-top: 0.5em solid #bbbbbb;
}
.mundoSelected {
  color:#bbbbbb;
  background-color: #fff;
      transition: 0.5s;
  border-top: 0.5em solid #484848;
}
.mundo:hover {
  color:#bbbbbb;
  background-color: #fff;
      transition: 0.5s;
  border-top: 0.5em solid #484848;
}
.imoveis {
  color:#39677f;
  background-color: #a8daf5;
      transition: 0.5s;
  border-top: 0.5em solid #a8daf5;
}
.imoveisSelected {
  color:#97d2f2;
  background-color: #fff;
      transition: 0.5s;
  border-top: 0.5em solid #39677f;
}
.imoveis:hover {
  color:#97d2f2;
  background-color: #fff;
      transition: 0.5s;
  border-top: 0.5em solid #39677f;
}
.estilos {
  color:#335228;
  background-color: #67b359;
      transition: 0.5s;
  border-top: 0.5em solid #67b359;
}
.estilosSelected {
  color:#67b359;
  background-color: #fff;
      transition: 0.5s;
  border-top: 0.5em solid #335228;
}
.estilos:hover {
  color:#67b359;
  background-color: #fff;
      transition: 0.5s;
  border-top: 0.5em solid #335228;
}
.nomeFiltro {
  display: inline-block;
  font-size:0.8em;
  font-weight: bold;
}
.iconeFiltro {
  margin-right: 0.5em;
}
.boxTags:hover {
  cursor: pointer;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 992px),
only screen and ( min--moz-device-pixel-ratio: 2) and (max-width: 992px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (max-width: 992px),
only screen and ( min-device-pixel-ratio: 2) and (max-width: 992px),
only screen and ( min-resolution: 192dpi) and (max-width: 992px),
only screen and ( min-resolution: 2dppx) and (max-width: 992px),
only screen and (max-width: 992px) {
  .nomeFiltro {
    margin-top: 5px;
    display: block;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min--moz-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (max-width: 767px),
only screen and ( min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min-resolution: 192dpi) and (max-width: 767px),
only screen and ( min-resolution: 2dppx) and (max-width: 767px),
only screen and (max-width: 767px) {
  .nomeFiltro {
    display: none;
  }
}
