@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900);

.base {
  margin-top: 3em;
  margin-left:2em;
  margin-right:2em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom:2em;
}
.baseInt {
  margin-top: 3em;

  border-bottom: 1px solid #d6d6d6;
  padding-bottom:2em;
}
.titulo {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 35px;
  line-height: 1em;
cursor: pointer;
  font-weight: 900;
  margin-bottom: 0.3em;
}
.tituloInt {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 22px;
  line-height: 1em;
cursor: pointer;
  font-weight: 900;
  margin-bottom: 0.3em;
}
.subtitulo {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
color:#cccccc;
font-size: 20px;

}

.subtituloInt {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
color:#cccccc;
font-size: 16px;

}

.imagemBlog {
width: 50%;
height: 50%;
margin-right: 1em;
cursor: pointer;
}

.imagemDisplay {
  display: inline-flex;
}

.imagemNotDisplay {
  display: block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min--moz-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (max-width: 767px),
only screen and ( min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and ( min-resolution: 192dpi) and (max-width: 767px),
only screen and ( min-resolution: 2dppx) and (max-width: 767px),
only screen and (max-width: 767px) {
  .imagemBlog {
      width: 100%;
      margin-bottom:0.5em;
  }
  .imagemDisplay {
    display: inline-block;
  }
}
